:root
{
    /* Define cores personalizadas nas variaveis abaixo */
    --font-color: #112D4E;
    --background-color: #F9F7F7;
    --link-color: #f1f1f1;
    --highlight-color: #1d3652;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Poppins, sans-serif;
}

/* Codigo mobile first */


/* Nav Menu */
.navmenu {
    display: flex;
    flex-flow: column nowrap;
}

/* firstrow */
.navmenu > .firstrow {
    display: flex;
    flex-flow: row nowrap;
    background-color: bisque;
    justify-content: space-between;
    height: 12%;
}
.navmenu > .firstrow > .name {
    border: 1px dotted rgb(0, 0, 0);
    margin: 15px;
    font-size: 28px;
    flex-shrink: 0;
}

#hamburguer {
    border: 1px dotted blue;
    margin: 15px;
    font-size: 32px;
    align-content: center;
    flex-shrink: 0;
}

/* Menu colapsavel */
#menuColapsavel {
    background-color: aquamarine;
    display: none;
    flex-flow: column;
    align-items: stretch;
}
#menuColapsavel > .links {
    padding: 5px;
    border: 1px dotted black;

}
/* End Nav Menu */








/* Codigo restante das telas */
@media screen and (min-width: 1081px){
    body{
        background-color: black;
    }
}