:root
{
    /* Define cores personalizadas nas variaveis abaixo */
    --font-color: #112D4E;
    --background-color: #F9F7F7;
    --link-color: #f1f1f1;
    --highlight-color: #1d3652;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    color: var(--font-color);
}
body {
    background-color: var(--background-color);
}

/* Codigo mobile first */


/* Nav Menu */
.navmenu {
    display: flex;
    flex-flow: column nowrap;
}

/* firstrow */
.navmenu > .firstrow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: var(--background-color);
    z-index: 1;
}
.navmenu > .firstrow > .name {
    margin: 15px;
    font-size: 28px;
    flex-shrink: 0;
    
}

#hamburguer {
    margin: 15px;
    font-size: 32px;
    align-content: center;
    flex-shrink: 0;
}

/* Menu colapsavel */
#menuColapsavel {
    background-color: var(--font-color);
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    transition: translate 0.2s;
    translate: 0px;
    z-index: 0;
    
}
#menuColapsavel > .links {
    color: var(--background-color);
    padding: 5px;
    flex-basis: 50%;
    border: 1px dotted black;
    

}
/* End Nav Menu */
/* Hero */
.sectionhero {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: stretch;
}

.sectionhero > h1 {
    text-align: justify;
    margin: 0px 15px;
    margin-top: 0px;
    font-weight: 600;
}
.sectionhero > p {
    margin: 0px 15px;
    text-align: start;
}

#heroimg {
    margin-top: 5%;
    width: 100%;
    border-radius: 100%;
    align-self: center;
    border: 3px solid #112D4E;
}

/* End hero */







/* Codigo restante das telas */
@media screen and (min-width: 1081px){
    body{
        background-color: black;
    }
}